@import "bootstrap";
@import "bootstrap-responsive";

#stripe_error{
  background-color: red;
  color: #fff;
  display: inline-block;
}

.all{
  text-align: left;
}

tr, th{
  padding-right: 50px;
}

.cost{
  margin-left: 15px;
}